<html>
    <head>
        <title>Warehouse In Out system</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/js/darkMode.js"></script>
        <script>
            function addName(input,output){
                document.getElementById(output).value = input[input.selectedIndex].text;
            }
        </script>
    </head>

    <body class="darkmode">
        <div class="container">
            <div class="row row_rita">
                <div class="col-2">
                    <div class="list-group list-group-flush text-center">
                        <a href="/" class="list-group-item darkmode">首頁</a>
                        <a href="/productlist" class="list-group-item darkmode">貨品</a>
                        <a href="/stock" class="list-group-item darkmode">儲存位置</a>
                        <a href="/deliveryOrder" class="list-group-item darkmode">貨單</a>
                        <a href="/user" class="list-group-item darkmode">用戶</a>
                        <a href="/recycleBin" class="list-group-item darkmode">回收箱</a>
                        <label class="list-group-item darkmode darkmode-btn" onclick="darkMode(this)">夜間模式</label>
                        <button type="submit" form="logout" class="list-group-item darkmode">登出</button>
                    </div> 
                    
                    <form action="/user/logout" method="post" id="logout">
                    </form> 
                </div>

                <div class="col-10">
                    <div class="row">
                        <div class="col">
                            <label><a href="/" class="darkmode">首頁</a></label> / 
                            <label><a href="/deliveryOrder" class="darkmode">貨單</a></label> / 
                            <label class="darkmode">貨單資料</label> / 
                            <label class="darkmode"><%= data.delivery_id %></label>                    
                        </div>
                        <div class="col">
                            <button class="btn btn-warning" form="delete">刪除貨單</button>
                            <button class="btn btn-primary" form="update">更新貨單</button>
                        </div>
                        <form action="/deliveryOrder/delete" method="post" id="delete">
                        </form>
                    </div>
                    <div class="row">
                        <form action="/deliveryOrder/update" method="post" id="update">
                            <div class="row my-1">
                                <div class="col fw-bold ">
                                    <label for="DeliveryID">送貨單號:</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="DeliveryID" name="delivery_id" value="<%= data.delivery_id %>" class="form-control text-center">
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col fw-bold ">
                                    <label for="Company">公司名稱:</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="Company" name="company" value="<%= data.company %>" class="form-control text-center">
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col fw-bold ">
                                    <label for="Address">公司地址:</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="Address" name="address" value="<%= data.address %>" class="form-control text-center">
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col fw-bold ">
                                    <label for="Phone">公司電話:</label>
                                </div>
                                <div class="col">
                                    <input type="text" id="Phone" name="phone" value="<%= data.phone %>" class="form-control text-center">
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col fw-bold ">
                                    <label>貨單類型:</label>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="in">入貨單</label>
                                        <input type="radio" value="in" id="in" name="type"  class="form-check-input" <% if(data.type==='in'){ %>checked<% } %>> 
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="out">出貨單</label>
                                        <input type="radio" value="out" id="out" name="type"  class="form-check-input" <% if(data.type==='out'){ %>checked<% } %>>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-1">
                                <label class="fw-bold ">貨品資料：</label>
                                <div class="col">
                                    <% for(i in data.items){ %>
                                        <div class="row py-1 my-1 border-bottom border-primary">
                                            <div class="col">
                                                <label for="item[<%= i %>][name]">貨品名稱:</label>
                                                <!-- hidden item name -->
                                                <input type="hidden" name="item[name]" id="item[<%= i %>][name]" value="<%= data.items[i].name %>">
                                                <!-- select id , display name -->
                                                <select name="item[product_id]" id="item[<%= i %>][product_id]" onchange="addName(this,'item[<%= i %>][name]')">
                                                    <option>請選擇貨品</option>
                                                    <% for (let product of products){ %>
                                                        <option value="<%= product._id %>" <%= product._id == data.items[i].product_id? 'selected':'' %>><%= (product.Name).replace(/\n/g, '') %></option>
                                                    <% } %>
                                                </select>

                                                <!-- <input type='text' class="form-control text-center" name="item[name]" id="item[<%= i %>][name]" value="<%= (data.items[i].name).replace(/\n/g, '') %>" size="50"> -->
                                            </div>
                                            <div class="col">
                                                <label for="item[<%= i %>][count]">總數量:</label>
                                                <input type='text' class="form-control text-center" name="item[count]" id="item[<%= i %>][count]" value="<%= (data.items[i].count) %>" size="10">
                                            </div>
                                            <div class="col">
                                                <label for="item[<%= i %>][completed]">已到達數量:</label>
                                                <input type='text' class="form-control text-center" name="item[completed]" id="item[<%= i %>][completed]" value="<%= (data.items[i].completed) %>">
                                            </div>
                                            <div class="col">
                                                <label for="item[<%= i %>][stock_id]">貨架編號:</label>
                                                <select name="item[stock_id]" id="item[<%= i %>][stock_id]">
                                                    <option>請選擇貨架</option>
                                                    <% for (let stock of stocks){ %>
                                                        <option value="<%= stock._id %>" ><%= stock.area + " " + stock.name %></option>
                                                    <% } %>
                                                </select>
                                                <!-- <input type='text' class="form-control text-center" name="item[stock_id]" id="item[<%= i %>][stock_id]" value="<%= (data.items[i].stock_id) %>"> -->
                                            </div>
                                        </div>
                                    <% }for(i = 0 ; i < 2 ; i++){ %>
                                        <div class="row py-1 my-1 border-bottom border-primary">
                                            <div class="col">
                                                <label for="up_item[<%= i %>][product_id]">貨品名稱:</label>
                                                <!-- hidden up_item name -->
                                                <input type="hidden" name="up_item[name]" id="up_item[<%= i %>][name]">
                                                <!-- select id , display name -->
                                                <select name="up_item[product_id]" id="up_item[<%= i %>][product_id]" onchange="addName(this,'up_item[<%= i %>][name]')">
                                                    <option>請選擇貨品</option>
                                                    <% for (let product of products){ %>
                                                        <option value="<%= product._id %>" ><%= product.Name %></option>
                                                    <% } %>
                                                </select>
                                                <!-- <input type='text' class="form-control text-center" name="up_item[name]" id="up_item[<%= i %>][name]" value="" size="50"> -->
                                            </div>
                                            <div class="col">
                                                <label for="up_item[<%= i %>][count]">總數量:</label>
                                                <input type='text' class="form-control text-center" name="up_item[count]" id="up_item[<%= i %>][count]" value="" size="10">
                                            </div>
                                            <div class="col">
                                                <label for="up_item[<%= i %>][completed]">已到達數量:</label>
                                                <input type='text' class="form-control text-center" name="up_item[completed]" id="up_item[<%= i %>][completed]" value="">
                                            </div>
                                            <div class="col">
                                                <label for="up_item[<%= i %>][stock_id]">貨架編號:</label>
                                                <select name="up_item[stock_id]" id="up_item[<%= i %>][stock_id]">
                                                    <option>請選擇貨架</option>
                                                    <% for (let stock of stocks){ %>
                                                        <option value="<%= stock._id %>" ><%= stock.area + " " + stock.name %></option>
                                                    <% } %>
                                                </select>

                                                <!-- <input type='text' class="form-control text-center" name="up_item[stock_id]" id="up_item[<%= i %>][stock_id]" value=""> -->
                                            </div>
                                        </div>
                                    <% }%>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col fw-bold ">
                                    是否已經完成：
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label" for="finish">已完成</label>
                                        <input type="radio" value="1" name="delivery_check" id="finish" class="form-check-input" <% if(data.delivery_check===1){ %>checked<% } %>>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="NotFinish">未完成</label>
                                        <input type="radio" value="0" name="delivery_check" id="NotFinish" class="form-check-input" <% if(data.delivery_check==='0'){ %>checked<% } %>>
                                    </div>
                                </div>
                                <div class="col fw-bold">
                                    <label for="delivery_user">確認貨單員工:</label>
                                </div>
                                <div class="col">
                                    <select name="delivery_user" id="delivery_user" class="form-select form-select-sm text-center">
                                        <option>請選擇</option>
                                        <% let j ; for(i of user){ %>
                                        <option value="<%= Object.values(i) %>"<% if(Object.values(i)==data.delivery_user){ j='exsits'; %>selected <% } %>>
                                            <%= Object.values(i) %>
                                        </option>
                                        <% } %><% if(j!='exsits'){ %><option name='delivery_user' value="<%= data.delivery_user %>" selected><%= data.delivery_user %></option> <% } %> 
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        document.addEventListener('load', setDarkMode());
    </script>  
</html>