<html>

<head>
    <title>Warehouse In Out system</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="module">
        import { setupSelectBox, btn } from '/js/script.js';
        document.addEventListener("DOMContentLoaded", function () {
            const selectBoxP = document.getElementById('selectBoxP');
            setupSelectBox(selectBoxP, 'influenceBoxP', 'products');
            btn();
        })
    </script>
</head>

<body>
    <div class="container">
        <input class="switch-box" type="checkbox" id="btn">
        <div class="row">
            <div class="col-2">
                <div class="list-group list-group-flush text-center">
                    <a href="/" class="list-group-item white">Index</a>
                    <a href="/productlist" class="list-group-item white">Products</a>
                    <a href="/stock" class="list-group-item white">Stocks</a>
                    <a href="/deliveryOrder" class="list-group-item white">Delivery Orders</a>
                    <a href="/user" class="list-group-item white">Users</a>
                    <button type="submit" form="logout" class="list-group-item white">Logout</button>
                    <a href="/recycleBin" class="list-group-item white">Recycle Bin</a>
                    <a href="/darkmode" class="list-group-item white"></a>
                </div>

                <form action="/user/logout" method="post" id="logout">
                </form>
            </div>

            <div class="col-10">
                <div class="row my-1">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Delivery Order</li>
                        </ol>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" form="saveProduct">Create New Product</button>
                    </div>
                </div>


                <form action="./saveProduct" method="post" id="saveProduct">
                <div class="row my-2 border-bottom border-dark bg-secondary-subtle">
                    <div class="col fw-bold fs-5 text-center">
                        New Product Information 
                    </div>

                </div>
                <div class="row py-1 my-1 border-bottom border-dark">
                    <div class="col">
                        <label for="Product_id">Product ID:</label>
                        <input type='text' class="form-control text" name="Product_id" id="Product_id" value=""
                            size="50">
                    </div>
                    <div class="col">
                        <label for="Name">Product Name:</label>
                        <input type='text' class="form-control text" name="Name" id="Name" value="" size="10">
                    </div>


                </div>
                <div class="row py-1 my-1 border-bottom border-dark">
                    <div class="col">
                        <label for="Brand">:</label><select id="selectBoxP" name="Brand">
                            <option value=''>-----請選擇-----</option>
                            <% for(let item of brands){ %>
                                <option value="<%= item %>"><%= item %>
                                </option>
                                <% } %>
                        </select><br>
                        New Brand：<input type='text' class="form-control text" name="new_Brand" id="Type" value="">
                    </div>
                    <div class="col">
                        <label for="Type">Type:</label>
                        <select id="influenceBoxP" name="Type">
                            <option value=''>-----請選擇-----</option>
                        </select><br>
                        New Type：<input type='text' class="form-control text" name="new_Type" id="Brand" value="">
                    </div>
                    <div class="col">
                        <label for="Origin">Origin:</label><select name='Origin'>
                            <option value="">-----請選擇-----</option>
                            <% for(let item of origins){ %>
                                <option value="<%= item %>">
                                    <%= item %>
                                </option>
                                <% } %>
                        </select><br>
                        New Origin：<input type='text' class="form-control text" name="new_Origin" id="Origin" value=""
                            size="50">
                    </div>
                    <div class="col">
                        <label for="stock">Stock:</label><select name='stock_id'>
                            <% for(let item of stocks){ %>
                                <option value="<%= item._id %>">
                                    <%= item.name %>
                                </option>
                                <% } %>
                        </select><br>
                    </div>
                </div>
            </div></form>

        </div>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>