<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <script src="/js/darkMode.js"></script>
      <title>Warehouse In Out system</title>
  </head>
  <body class="darkmode">
    <h1>4角有限公司</h1>
      
    <form action="/product/save" method="post">
      <input type="text" name="_id" value="<%= data._id %>" hidden> 

      <table>
        <tr>
          <td>
            <label for="Product_id">Product ID:</label>
          </td>
          <td>
            <input type="text" id="Product_id" name="Product_id" value="<%= data.Product_id %>" placeholder="Type" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="name">Product name:</label> 
          </td>
          <td>
            <input type="text" id="Name" name="Name" value="<%= data.Name %>" placeholder="Type" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="Type">Type:</label> 
            </td>
            <td>
                  <select name="Type">
                  <option value="baking_soda" <%= data.Type === 'baking_soda' ? 'selected' : '' %>>Baking Soda</option>
                  <option value="beer" <%= data.Type === 'beer' ? 'selected' : '' %>>Beer</option>
                  <option value="can" <%= data.Type === 'can' ? 'selected' : '' %>>Can</option>
                  <option value="coffee" <%= data.Type === 'coffee' ? 'selected' : '' %>>Coffee</option>
                  <option value="cornmeal" <%= data.Type === 'cornmeal' ? 'selected' : '' %>>Cornmeal</option>
                  <option value="drink" <%= data.Type === 'drink' ? 'selected' : '' %>>Drink</option>
                  <option value="dried_beans" <%= data.Type === 'dried_beans' ? 'selected' : '' %>>Dried Beans</option>
                  <option value="flour" <%= data.Type === 'flour' ? 'selected' : '' %>>Flour</option>
                  <option value="noodle" <%= data.Type === 'noodle' ? 'selected' : '' %>>Noodle</option>
                  <option value="oats" <%= data.Type === 'oats' ? 'selected' : '' %>>Oats</option>
                  <option value="pasta" <%= data.Type === 'pasta' ? 'selected' : '' %>>Pasta</option>
                  <option value="pepper" <%= data.Type === 'pepper' ? 'selected' : '' %>>Pepper</option>
                  <option value="rice" <%= data.Type === 'rice' ? 'selected' : '' %>>Rice</option>
                  <option value="salt" <%= data.Type === 'salt' ? 'selected' : '' %>>Salt</option>
                  <option value="sugar" <%= data.Type === 'sugar' ? 'selected' : '' %>>Sugar</option>
                  </select>
              </tr>
           
       
          <td>
            <label for="Brand">Brand:</label> 
          </td>
          <td>
            <input type="text" id="Brand" name="Brand" value="<%= data.Brand %>" placeholder="Brand" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="Origin">Origin:</label> 
          </td>
          <td>
            <input type="text" id="Origin" name="Origin" value="<%= data.Origin %>" placeholder="Origin" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="Count">Count:</label> 
          </td>
          <td>
          <input type="number" id="Count" name="Count" value="<%= data.Count %>" placeholder="Count" min="1" required>
          </td>
        </tr>
        
        <tr>
          <td>
            <label for="stock">stock</label>
          </td>
          <td>
            <select name="stock" id="stock">
              <% for(let stock of stocks){ %>
                <option value="<%= stock._id %>" <%= data.stock_id == stock._id?'selected':'' %> ><%= stock.area %> <%= stock.name %> </option>
              <% } %> 
            </select>
          </td>
        </tr>
        
        <tr>
          <td> 


            <Button type="submit">Submit </Button> 
                
          </td>
        </tr>
        </form>
        <tr>
          <td> 
            <Button type="submit" form="delete"> Delete </Button>  
          </td>
        </tr>
        <tr>
          <td>
            <a href="/product/create">
              <button type="button" class="create-btn">Create</button>
            </a>
          </td>
        </tr>
      </table>
   

<form action="/product/delete" method = "post" id="delete">
  <input type="text" name="id" value="<%= data._id %>" hidden>
</form>      
    <a href="/productlist">Back to ProductList</a></br>
   
     
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('load', setDarkMode());
  </script>  
</html>