<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../css/style.css" rel="stylesheet" type="text/css">
      <title>Warehouse In Out system</title>
  </head>
  <body>
    <h1>4角有限公司</h1>
      
    <form action="/product/save" method="post">
      <input type="text" name="_id" value="<%= data._id %>" hidden> 

      <table>
        <tr>
          <td>
            <label for="Product_id">Product ID:</label>
          </td>
          <td>
            <input type="text" id="Product_id" name="Product_id" value="<%= data.Product_id %>" placeholder="Type" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="name">Product name:</label> 
          </td>
          <td>
            <input type="text" id="Name" name="Name" value="<%= data.Name %>" placeholder="Type" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="Type">Type:</label> 
            </td>
            <td>
                  <select>
                  <option value="coffee" <%= data.Type === 'coffee' ? 'selected' : '' %>>Coffee</option>
                  <option value="noodle" <%= data.Type === 'noodle' ? 'selected' : '' %>>Noodle</option>
                  <option value="drink" <%= data.Type === 'drink' ? 'selected' : '' %>>Drink</option>
                  <option value="beer" <%= data.Type === 'beer' ? 'selected' : '' %>>Beer</option>
                  <option value="tissue" <%= data.Type === 'tissue' ? 'selected' : '' %>>Tissue</option>
                </select>
              </tr>
           
       
          <td>
            <label for="Brand">Brand:</label> 
          </td>
          <td>
            <input type="text" id="Brand" name="Brand" value="<%= data.Brand %>" placeholder="Brand" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="Origin">Origin:</label> 
          </td>
          <td>
            <input type="text" id="Origin" name="Origin" value="<%= data.Origin %>" placeholder="Origin" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="Count">Count:</label> 
          </td>
          <td>
          <input type="number" id="Count" name="Count" value="<%= data.Count %>" placeholder="Count" min="1" required>
          </td>
        </tr>
        
        <tr>
          <td>
            <label for="stock">stock</label>
          </td>
          <td>
            <select name="stock" id="stock">
              <% for(let stock of stocks){ %>
                <option value="<%= stock._id %>" <%= data.stock_id == stock._id?'selected':'' %> ><%= stock.area %> <%= stock.name %> </option>
              <% } %> 
            </select>
          </td>
        </tr>

        <tr>
          <td> 


            <Button type="submit">Submit </Button> 
                
          </td>
        </tr>
      </table>
    </form>
      
    <a href="/productslist">Back to ProductList</a></br>
   
     
    
  </body>
</html>