<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Enquiry</title>
</head>
<body>
    <h1>Stock Location Enquiry</h1>
    <form action="/stock/save" method="post">
        <input type="text" name="_id" value="<%= stock_data._id %>" hidden>
        <div>
            <div>
                <label for="stock_id">Stock ID:</label>
            </div>
            <div>
                <input type="text" id="stock_id" name="stock_id" value="<%= stock_data.stock_id %>" placeholder="Stock ID" required>
            </div>
        </div>
        <div>
            <div>
                <label for="area">Region : </label> 
            </div>
            <div>
                <input type="text" id="area" name="area" value="<%= stock_data.area %>" placeholder="Region" required> 
            </div>
        </div>
        <div>
            <div>
                <label for="name"> Store location : </label>
            </div>
            <div>
                <input type="text" id="name" name="name" value="<%= stock_data.name %>" placeholder="Store location" required>
            </div>
        </div>
        
        <input type="submit" value="<%= data._id? 'update' : 'create' %>" class="btn btn-primary m-1">

    </form>

    <form action="/stock/delete" method="post" class="d-inline">
        <input type="text" value="<%= stock_data._id %>" name="stock_id" hidden />
        <input type="submit" class="btn btn-warning" value="delete">   
    </form>
    
    <!-- Display stock information here -->
    <div id="stock-info">
        <!-- Stock ID, Region, Stock Location will be populated dynamically -->
    </div>

</body>
</html>