<html>
    <head>
        <title>Warehouse In Out system</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="list-group list-group-flush text-center">
                        <a href="/" class="list-group-item">Index</a>
                        <a href="/product" class="list-group-item">Products</a>
                        <a href="/stock" class="list-group-item disabled" disabled>Stocks</a>
                        <a href="/user" class="list-group-item">Users</a>
                        <a href="/deliveryOrder" class="list-group-item">Delivery Orders</a>
                        <button type="submit" form="logout" class="list-group-item">Logout</button>
                    </div> 

                    <form action="/user/logout" method="post" id="logout">
                    </form> 
                </div>
                <div class="col-10">
                    <div class="row my-1">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Stock</li>
                            </ol>
                        </div>
                        <div class="col">
                            <a href="/stock/create" class="btn btn-primary">Create Stock</a>
                        </div>
                    </div>
                    <div class="row">
                        <label class="fs-4">Search data:</label>
                        <form action="/stock" method="get" class="border m-1">
                            <div class="row my-1">
                                <div class="col-2">
                                    <label for="area">Stock area:</label>
                                </div>
                                <div class="col-10">
                                    <input type="text" id="area" name="area" class="form-control" placeholder="Stock Area">
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-2">
                                    <label for="name">Stock Shelf:</label>
                                </div>
                                <div class="col-10">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Stock Shelf">
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-2">
                                    <label>id:</label>
                                </div>
                                <div class="col-10">
                                    <input type="radio" name="stock_id" value="1">Asc
                                    <input type="radio" name="stock_id" value="-1">Desc
                                </div>
                            </div>

                            <input type="submit" value="Search" class="btn btn-primary m-1">
                        </form>
                    </div>
                    <div class="row my-1 border-bottom border-dark">
                        <div class="col-3">

                        </div>
                        <div class="col-6 fw-bold fs-5 text-center">
                            stock
                        </div>
                        <div class="col-3">

                        </div>
                    </div>

                    <div class="row my-1 border-bottom border-dark bg-secondary-subtle">
                        <div class="col-3 fw-bold fs-5 text-center">
                            id
                        </div>
                        <div class="col-3 fw-bold fs-5 text-center">
                            area
                        </div>
                        <div class="col-3 fw-bold fs-5 text-center">
                            shelf
                        </div>
                        <div class="col-3 fw-bold fs-5 text-center">
                            edit
                        </div>
                    </div>
                    <% if(datas.length == 0){ %>
                        <div class="row py-1 border-bottom border-dark text-center">
                            <label>Not have stocks</label>
                        </div>
                    <% } %>
                    <% for(data of datas){ %>
                        <div class="row py-1 border-bottom border-dark">
                            <div class="col text-center">
                                <%= data.stock_id %>
                            </div>
                            <div class="col text-center">
                                <%= data.area %>
                            </div>
                            <div class="col text-center">
                                <%= data.name %>
                            </div>
                            <div class="col text-center">
                                <a href="/stock/info?stock_id=<%= data._id %>" class="btn btn-primary">edit</a>
                                <form action="/stock/delete" method="post" class="d-inline">
                                    <input type="text" value="<%= data._id %>" name="stock_id" hidden />
                                    <input type="submit" class="btn btn-warning" value="delete">   
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>